<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title>WAH WAH WAH</title>
    <style>
        @import 'https://fonts.googleapis.com/css?family=Gloria+Hallelujah';

        .prompt {
            font-family: 'Gloria Hallelujah', cursive;
        }
    </style>
<script>"undefined"==typeof CODE_LIVE&&(!function(e){var t={nonSecure:"53786",secure:"54182"},c={nonSecure:"http://",secure:"https://"},r={nonSecure:"127.0.0.1",secure:"gapdebug.local.genuitec.com"},n="https:"===window.location.protocol?"secure":"nonSecure";script=e.createElement("script"),script.type="text/javascript",script.async=!0,script.src=c[n]+r[n]+":"+t[n]+"/codelive-assets/bundle.js",e.getElementsByTagName("head")[0].appendChild(script)}(document),CODE_LIVE=!0);</script></head>

<body id="cas" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-15" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/error/403.html">
<div layout:fragment="content" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-15" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/error/403.html">
    <div class="alert alert-danger">
        <h2 class="prompt">YOU ARE NOT AUTHORIZED TO BE AUTHORIZED!</h2>
        <div class="prompt">
            <p/>
            <p>We are sorry. You do not have permission to view this page.</p>
            <br/>
            <p>You thought you could just get what you wanted, right?</p>
            <br/>
            <p>Wrong.</p>

            <br/>
            <p>In closing, <a th:href="@{/login}">go away</a>. </p>

        </div>
    </div>
</div>
</body>
</html>
