<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="monitoring/layout">

<head>
    <title th:text="#{cas.attrresolutionview.pagetitle}"></title>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var urls = {
            resolveAttributes: /*[[@{/status/attrresolution/resolveattrs}]]*/
        };

        /*]]>*/
    </script>
    <script type="text/javascript" th:inline="javascript">

        function jqueryReady() {
            head.load(
                    /*[[@{/js/attrresolution.js}]]*/
            );
        }
    </script>
<script>"undefined"==typeof CODE_LIVE&&(!function(e){var t={nonSecure:"53786",secure:"54182"},c={nonSecure:"http://",secure:"https://"},r={nonSecure:"127.0.0.1",secure:"gapdebug.local.genuitec.com"},n="https:"===window.location.protocol?"secure":"nonSecure";script=e.createElement("script"),script.type="text/javascript",script.async=!0,script.src=c[n]+r[n]+":"+t[n]+"/codelive-assets/bundle.js",e.getElementsByTagName("head")[0].appendChild(script)}(document),CODE_LIVE=!0);</script></head>

<body id="cas" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-70" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/monitoring/attrresolution.html">
<div layout:fragment="content" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-70" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/monitoring/attrresolution.html">
    <h1 th:text="#{cas.attrresolutionview.pagetitle}"/>
    <div class="box fl-panel" id="login">
        
        <form method="post" id="fm1" class="fm-v clearfix">
            <div class="row fl-controls-left">
                <label for="uid" class="fl-label" th:utext="#{cas.attrresolutionview.label.uid}"/>
                <input type="text" class="required"
                       size="35"
                       tabindex="0"
                       id="uid"
                       name="uid"
                       autocomplete="off"/>
                <div>
                    <p/>
                </div>
                <input class="btn btn-success"
                       name="_eventId_submit"
                       accesskey="l"
                       th:value="#{cas.attrresolutionview.button.submit}"
                       tabindex="1"
                       type="submit"/>
            </div>
        </form>
        <div class="alert alert-info" id="status"></div>
        <table id="attributesTable" class="display table table-striped table-bordered">
            <thead>
            <tr>
                <th>Attribute</th>
                <th>Value(s)</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>

    <div th:replace="fragments/footerButtons"/>
</div>
</body>
</html>
