<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/> 
        <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Central Authentication Service</title>
    
        <link rel="stylesheet" href="/cas/css/font-awesome.min.css"/>
        <link type="text/css" rel="stylesheet" href="/cas/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{${#themes.code('admin.custom.css.file')}}" />
		

        
        <script type="text/javascript" src="/cas/js/jquery.min.js"></script>
        <script type="text/javascript" src="/cas/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/cas/js/jquery.cookie.min.js"></script>
    
        <script src="/cas/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="/cas/css/dataTables.bootstrap.min.css" />
        <script src="/cas/js/jquery.dataTables.min.js"></script>
        <script src="/cas/js/dataTables.bootstrap.min.js"></script>
        <script src="/cas/js/mindmup-editabletable.js"></script>
        
        <script th:inline="javascript">
            /*<![CDATA[*/

            var trackGeoLocation = /*[[${trackGeoLocation}]]*/ === "true";

            /*]]>*/
        </script>
    <script>"undefined"==typeof CODE_LIVE&&(!function(e){var t={nonSecure:"53786",secure:"54182"},c={nonSecure:"http://",secure:"https://"},r={nonSecure:"127.0.0.1",secure:"gapdebug.local.genuitec.com"},n="https:"===window.location.protocol?"secure":"nonSecure";script=e.createElement("script"),script.type="text/javascript",script.async=!0,script.src=c[n]+r[n]+":"+t[n]+"/codelive-assets/bundle.js",e.getElementsByTagName("head")[0].appendChild(script)}(document),CODE_LIVE=!0);</script></head>
    
    <body data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-68" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/monitoring/layout.html">
        <!--/* Standard layout can be mixed with Layout Dialect */-->
        <div id="container" class="container" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-68" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/monitoring/layout.html">
            <div th:replace="fragments/logo"/>
            <div layout:fragment="content" id="content" class="clearfix">
                <h1/>
                <p/>
            </div>

            <div th:replace="fragments/footer"/>
        </div>
        <div th:insert="fragments/bottom"/>
    
    </body>
</html>
