[genuitec-file-id="wc1-2"],[genuitec-lp-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/static/css/authnEvents.css"],[genuitec-lp-enabled=false]{
  /* for codelive */
}

@import 'https://fonts.googleapis.com/css?family=PT+Mono';

#authnEvents {
   
}
#authnEvents .tabsContainer {
    padding: 0 20px;
}
#authnEvents .btn .caret {
    margin-left: 5px;
}
.tab-pane {
    padding: 20px 10px;
    border: 1px solid #ddd;
    border-top: none;
}

#container {
    width:100%;
}
