[genuitec-file-id="wc1-5"],[genuitec-lp-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/static/css/trustedDevices.css"],[genuitec-lp-enabled=false]{
  /* for codelive */
}

@import 'https://fonts.googleapis.com/css?family=PT+Mono';

#trustedDevices {
   
}
#trustedDevices .tabsContainer {
    padding: 0 20px;
}
#trustedDevices .btn .caret {
    margin-left: 5px;
}
.tab-pane {
    padding: 20px 10px;
    border: 1px solid #ddd;
    border-top: none;
}

#container {
    width:53%;
}
