<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title th:text="#{cas.oauth.confirm.pagetitle}"></title>
<script>"undefined"==typeof CODE_LIVE&&(!function(e){var t={nonSecure:"53786",secure:"54182"},c={nonSecure:"http://",secure:"https://"},r={nonSecure:"127.0.0.1",secure:"gapdebug.local.genuitec.com"},n="https:"===window.location.protocol?"secure":"nonSecure";script=e.createElement("script"),script.type="text/javascript",script.async=!0,script.src=c[n]+r[n]+":"+t[n]+"/codelive-assets/bundle.js",e.getElementsByTagName("head")[0].appendChild(script)}(document),CODE_LIVE=!0);</script></head>

<body id="cas" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-34" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/protocol/oidc/confirm.html">
<div layout:fragment="content" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-34" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/protocol/oidc/confirm.html">
    <div class="alert alert-success">
        <h1 th:text="#{screen.oauth.confirm.header}"/>

        <div align="middle">
            <img th:src="${service.logo}" th:if="${service.logo}"/>
            <p th:text="${service.description}" />
        </div>
        
        <div th:if="${dynamic}">
            <div class="alert alert-warning fade in" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <strong th:utext="#{screen.oidc.confirm.dynamic(${dynamicTime})}"/>
            </div>
        </div>

        <div th:unless="${#sets.isEmpty(scopes)}">
            <p th:text="#{screen.oidc.confirm.asksinfo}"/>

            <span th:each="scope : ${scopes}">
                <div>
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    <strong><code th:text="${scope}"/></strong>
                    <p th:text="#{screen.oidc.confirm.scope.__${scope}__}"/>
                </div>
            </span>

            <div th:if="${service.informationUrl}">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                <a th:href="${service.informationUrl}" th:text="#{screen.oidc.confirm.infourl(${serviceName})}"/>
            </div>
            <div th:if="${service.privacyUrl}">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                <a th:href="${service.privacyUrl}" th:utext="#{screen.oidc.confirm.privacyurl(${serviceName})}"/>
            </div>
            <br/>
        </div>


        <strong>
            <h4 th:text="#{screen.oauth.confirm.message(${serviceName})}"/>
        </strong>
        <p>
            <a class="btn btn-success btn-lg" id="allow" name="allow"
               th:href="@{${callbackUrl}}"
               th:utext="#{screen.oauth.confirm.allow}"/>

            <a th:if="${deniedApprovalUrl}"
               class="btn btn-danger btn-lg" id="deny" name="deny"
               th:href="@{${deniedApprovalUrl}}"
               th:utext="#{screen.oauth.confirm.deny}"/>
        </p>
    </div>
</div>
</body>
</html>
