<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title th:text="#{cas.mfa.azure.pagetitle}"></title>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Lato:700,400,300,100|Signika:400,700|Courgette);
        textarea {
            border: 2pt;
            font-family: "Courier New";
            font-weight: bold;
            font-size: 45px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
<script>"undefined"==typeof CODE_LIVE&&(!function(e){var t={nonSecure:"53786",secure:"54182"},c={nonSecure:"http://",secure:"https://"},r={nonSecure:"127.0.0.1",secure:"gapdebug.local.genuitec.com"},n="https:"===window.location.protocol?"secure":"nonSecure";script=e.createElement("script"),script.type="text/javascript",script.async=!0,script.src=c[n]+r[n]+":"+t[n]+"/codelive-assets/bundle.js",e.getElementsByTagName("head")[0].appendChild(script)}(document),CODE_LIVE=!0);</script></head>
<body id="cas" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-84" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/casAzureAuthenticatorLoginView.html">
<div layout:fragment="content" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-84" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/casAzureAuthenticatorLoginView.html">
    <div class="box fl-panel" id="login">
        <form method="post" id="fm1" class="fm-v clearfix" th:object="${credential}">
            <div id="msg" class="errors" th:if="${#fields.hasErrors('*')}">
                <span th:each="err : ${#fields.errors('*')}" th:utext="${err}"/>
            </div>

            <div class="row fl-controls-left">
                <p>Press 'LOGIN' below and provide the displayed code via your mobile device.</p>

                <textarea readonly class="required" id="token" size="25" rows="1" cols="8" th:field="*{token}"/>
                <div>
                    <p/>
                </div>
                <input class="btn-submit"
                       name="_eventId_submit"
                       accesskey="l"
                       tabindex="1"
                       th:value="#{screen.welcome.button.login}"
                       id="submitBtn"
                       type="submit"/>
            </div>
            <div class="row btn-row">
                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                <input type="hidden" name="geolocation"/>
            </div>
        </form>

    </div>
</div>
</body>
</html>
