<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title th:text="#{cas.acceptableusagepolicyview.pagetitle}"></title>
<script>"undefined"==typeof CODE_LIVE&&(!function(e){var t={nonSecure:"53786",secure:"54182"},c={nonSecure:"http://",secure:"https://"},r={nonSecure:"127.0.0.1",secure:"gapdebug.local.genuitec.com"},n="https:"===window.location.protocol?"secure":"nonSecure";script=e.createElement("script"),script.type="text/javascript",script.async=!0,script.src=c[n]+r[n]+":"+t[n]+"/codelive-assets/bundle.js",e.getElementsByTagName("head")[0].appendChild(script)}(document),CODE_LIVE=!0);</script></head>

<body id="cas" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-17" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/casAcceptableUsagePolicyView.html">
<div layout:fragment="content" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-17" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/casAcceptableUsagePolicyView.html">
    <div id="login" style="width: 100%;">
        <form method="post" id="fm1">

            <h2>Acceptable Usage Policy</h2>
            <div>
                The purpose of this policy is to establish acceptable and unacceptable use of electronic devices and network resources
                in conjunction with the established culture of ethical and lawful behavior, openness, trust, and integrity.
                <p>By using these resources, you agree to abide by the Acceptable Usage Policy.</p>
            </div>

            <section class="row btn-row">
                <input type="hidden" name="execution" th:value="${flowExecutionKey}" />
                <input type="hidden" name="_eventId" value="submit" />
                <input class="btn-submit"
                       name="submit"
                       accesskey="s"
                       th:value="#{screen.aup.button.accept}"
                       type="submit" />
                <input
                        class="btn-reset"
                        name="cancel"
                        accesskey="c"
                        th:value="#{screen.aup.button.cancel}"
                        type="button"
                        onclick="location.href = location.href;" />
            </section>
        </form>
    </div>
</div>
</body>
</html>
