<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title th:text="#{screen.confirmation.message}"></title>
<script>"undefined"==typeof CODE_LIVE&&(!function(e){var t={nonSecure:"53786",secure:"54182"},c={nonSecure:"http://",secure:"https://"},r={nonSecure:"127.0.0.1",secure:"gapdebug.local.genuitec.com"},n="https:"===window.location.protocol?"secure":"nonSecure";script=e.createElement("script"),script.type="text/javascript",script.async=!0,script.src=c[n]+r[n]+":"+t[n]+"/codelive-assets/bundle.js",e.getElementsByTagName("head")[0].appendChild(script)}(document),CODE_LIVE=!0);</script></head>

<body id="cas" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-40" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/casConfirmView.html">
<div layout:fragment="content" class="confirmView" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-40" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/casConfirmView.html">
    <div class="alert alert-info">
        <h4 th:text="#{screen.confirmation.message}"/>

        <form method="post" id="form" class="fm-v clearfix">
            <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
            
            <input id="ignorewarn"
                   name="ignorewarn"
                   value="true"
                   tabindex="1"
                   type="checkbox" />
            <label for="ignorewarn" th:utext="#{screen.welcome.label.warnremove}"/>
            <br/><br/>
            <input class="btn btn-submit" name="_eventId_success" accesskey="l"
                   th:value="#{screen.button.continue}" tabindex="4" type="submit"/>
        </form>

    </div>
</div>
</body>
</html>
