<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title th:text="#{cas.login.pagetitle}"></title>
<script>"undefined"==typeof CODE_LIVE&&(!function(e){var t={nonSecure:"53786",secure:"54182"},c={nonSecure:"http://",secure:"https://"},r={nonSecure:"127.0.0.1",secure:"gapdebug.local.genuitec.com"},n="https:"===window.location.protocol?"secure":"nonSecure";script=e.createElement("script"),script.type="text/javascript",script.async=!0,script.src=c[n]+r[n]+":"+t[n]+"/codelive-assets/bundle.js",e.getElementsByTagName("head")[0].appendChild(script)}(document),CODE_LIVE=!0);</script></head>

<body id="cas" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-20" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/casGuaDisplayUserGraphicsView.html">
<div layout:fragment="content" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-20" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/casGuaDisplayUserGraphicsView.html">
    <div class="box fl-panel" id="login">

        <div class="alert alert-warning fade in" role="alert">
            <h4 th:text="${guaUsername}"/>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <strong th:utext="#{screen.gua.confirm.message}"/>
        </div>

        <div align="middle">
            <img style="width:130px;height:130px;border-radius:20%; 
                        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
                        border: 1px solid #ddd;border-radius: 4px;"
                 th:src="@{'data:image/jpeg;base64,' + ${guaUserImage}}"/>

            <div>
                <p/>
            </div>
            
            <form method="post" id="fm1" class="fm-v clearfix">
                <input class="btn-submit" name="_eventId_submit" accesskey="l"
                       th:value="#{screen.button.continue}" tabindex="4" type="submit"/>
                <div class="row btn-row">
                    <input type="hidden" name="username" th:value="${guaUsername}"/>
                    <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                </div>
            </form>
        </div>

        
    </div>
</div>
</body>

</html>
