<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title th:text="#{cas.mfa.googleauth.pagetitle}"></title>
<script>"undefined"==typeof CODE_LIVE&&(!function(e){var t={nonSecure:"53786",secure:"54182"},c={nonSecure:"http://",secure:"https://"},r={nonSecure:"127.0.0.1",secure:"gapdebug.local.genuitec.com"},n="https:"===window.location.protocol?"secure":"nonSecure";script=e.createElement("script"),script.type="text/javascript",script.async=!0,script.src=c[n]+r[n]+":"+t[n]+"/codelive-assets/bundle.js",e.getElementsByTagName("head")[0].appendChild(script)}(document),CODE_LIVE=!0);</script></head>

<body id="cas" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-79" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/casGoogleAuthenticatorRegistrationView.html">
<div layout:fragment="content" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-79" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/casGoogleAuthenticatorRegistrationView.html">
    <div class="box fl-panel" id="login">
        <h3 th:text="#{screen.authentication.gauth.register}"/>

        <form method="post" id="fm1" class="fm-v clearfix">
            <div class="row fl-controls-left">
                <img th:src="@{/otp/qrgen(key=${keyUri})}"/>
                <br/>
                <div>
                    <p th:utext="#{screen.authentication.gauth.key(${key.getSecretKey()})}"></p>
                </div>
                
                <p>Scratch Codes:
                <ul>
                    <li th:each="code : ${key.getScratchCodes()}" th:text="${code}"/>
                </ul>
                </p>
                <input type="hidden" name="_eventId" value="submit"/>
                <input class="btn btn-submit btn-lg" name="submit" accesskey="l"
                       th:value="#{screen.welcome.button.register}" tabindex="4" type="submit"/>
                <input class="btn btn-info btn-lg" name="print" accesskey="p"
                       th:value="#{screen.welcome.button.print}"
                       tabindex="5" type="button"
                       onclick="window.print();"/>
            </div>
            <div class="row btn-row">
                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>
