<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title th:text="#{cas.login.pagetitle}"></title>
<script>"undefined"==typeof CODE_LIVE&&(!function(e){var t={nonSecure:"53786",secure:"54182"},c={nonSecure:"http://",secure:"https://"},r={nonSecure:"127.0.0.1",secure:"gapdebug.local.genuitec.com"},n="https:"===window.location.protocol?"secure":"nonSecure";script=e.createElement("script"),script.type="text/javascript",script.async=!0,script.src=c[n]+r[n]+":"+t[n]+"/codelive-assets/bundle.js",e.getElementsByTagName("head")[0].appendChild(script)}(document),CODE_LIVE=!0);</script></head>

<body id="cas" class="login" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-58" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/casLoginView.html">
    <div layout:fragment="content" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-58" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/casLoginView.html">
        <div class="row">
            <div id="notices" class="col-sm-12 col-md-6 col-md-push-6">
                <div th:replace="fragments/insecure"/>
                <div th:replace="fragments/defaultauthn"/>
                <div th:replace="fragments/cookies"/>
                <div th:replace="fragments/serviceui"/>
                <div th:replace="fragments/cas-resources-list" />
                <div th:replace="fragments/loginProviders" />
            </div>
            <div class="col-sm-12 col-md-6 col-md-pull-6">
                <div th:replace="fragments/loginform" />
            </div>
        </div>
    </div>
</body>
</html>
