<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title th:text="#{screen.authentication.warning}"></title>
<script>"undefined"==typeof CODE_LIVE&&(!function(e){var t={nonSecure:"53786",secure:"54182"},c={nonSecure:"http://",secure:"https://"},r={nonSecure:"127.0.0.1",secure:"gapdebug.local.genuitec.com"},n="https:"===window.location.protocol?"secure":"nonSecure";script=e.createElement("script"),script.type="text/javascript",script.async=!0,script.src=c[n]+r[n]+":"+t[n]+"/codelive-assets/bundle.js",e.getElementsByTagName("head")[0].appendChild(script)}(document),CODE_LIVE=!0);</script></head>

<body id="cas" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-62" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/casLoginMessageView.html">
<div layout:fragment="content" class="loginMessageView" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-62" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/casLoginMessageView.html">
    <div class="alert alert-warning">
        <h2 th:text="#{screen.authentication.warning}"/>
        <div th:each="message : ${messages}">
            <p class="message" th:utext="${message.text}"/>
        </div>
        <section class="row btn-row">
            <form method="post" id="form" class="fm-v clearfix" th:action="@{/login}" >
                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                <input type="hidden" name="_eventId" value="proceed"/>
                <input class="btn btn-submit" name="continue" accesskey="l"
                       th:value="#{screen.button.continue}" tabindex="4" type="submit"/>
            </form>
        </section>
        
    </div>
</div>
</body>
</html>
