<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title th:text="#{cas.mfa.registerdevice.pagetitle}"></title>
<script>"undefined"==typeof CODE_LIVE&&(!function(e){var t={nonSecure:"53786",secure:"54182"},c={nonSecure:"http://",secure:"https://"},r={nonSecure:"127.0.0.1",secure:"gapdebug.local.genuitec.com"},n="https:"===window.location.protocol?"secure":"nonSecure";script=e.createElement("script"),script.type="text/javascript",script.async=!0,script.src=c[n]+r[n]+":"+t[n]+"/codelive-assets/bundle.js",e.getElementsByTagName("head")[0].appendChild(script)}(document),CODE_LIVE=!0);</script></head>

<body id="cas" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-87" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/casMfaRegisterDeviceView.html">
<div layout:fragment="content" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-87" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/casMfaRegisterDeviceView.html">
    <div class="box fl-panel" id="login">
        <h2 th:text="#{cas.mfa.registerdevice.label.title}"/>
        <div th:text="#{cas.mfa.registerdevice.label.intro}"/>
        <form method="post" id="registerform" class="fm-v clearfix">
            <div class="row fl-controls-left">
                <label for="deviceName" class="fl-label" th:utext="#{cas.mfa.registerdevice.label.name}"/>

                <input type="text" class="required" name="deviceName" id="deviceName" size="25" tabindex="1" autocomplete="off"/>
                <div>
                    <br/>
                    <input class="btn btn-submit" name="_eventId_submit" accesskey="l"
                           th:value="#{cas.mfa.registerdevice.button.register}" tabindex="4" type="submit"/>
                </div>
            </div>
            <div class="row btn-row">
                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>
