<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title th:text="#{screen.pac4j.unauthz.pagetitle}"></title>
<script>"undefined"==typeof CODE_LIVE&&(!function(e){var t={nonSecure:"53786",secure:"54182"},c={nonSecure:"http://",secure:"https://"},r={nonSecure:"127.0.0.1",secure:"gapdebug.local.genuitec.com"},n="https:"===window.location.protocol?"secure":"nonSecure";script=e.createElement("script"),script.type="text/javascript",script.async=!0,script.src=c[n]+r[n]+":"+t[n]+"/codelive-assets/bundle.js",e.getElementsByTagName("head")[0].appendChild(script)}(document),CODE_LIVE=!0);</script></head>

<body id="cas" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-80" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/casPac4jStopWebflow.html">
<div layout:fragment="content" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-80" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/casPac4jStopWebflow.html">
    <div class="alert alert-danger">
        <h2 th:utext="#{screen.pac4j.unauthz.heading}"/>
        <p th:utext="#{screen.pac4j.unauthz.message}"/>

        <div>
            <p/>
            <table th:if="${error != null or reason != null or code != null or description != null}" 
                   class="table table-bordered table-hover table-responsive">
                <thead>
                <tr>
                    <th>Error</th>
                    <th>Reason</th>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Provider</th>
                    <th>Destination</th>
                </tr>
                </thead>
                <tbody>
                <tr class="active">
                    <td th:text="${error}"/>
                    <td th:text="${reason}" />
                    <td th:text="${code}" />
                    <td th:text="${description}" />
                    <td th:text="${client}" />
                    <td>
                        <a th:href="${service}" th:text="#{screen.pac4j.unauthz.gotoapp}"/>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p>
        <a class="btn btn-success" th:href="@{/login}" th:text="#{screen.pac4j.unauthz.login}"/>
        <a class="btn btn-success" th:href="${service}" th:text="#{screen.pac4j.unauthz.gotoapp}"/>
    </p>
</div>
</body>
</html>
