<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title th:text="#{screen.pm.reset.title}"></title>
<script>"undefined"==typeof CODE_LIVE&&(!function(e){var t={nonSecure:"53786",secure:"54182"},c={nonSecure:"http://",secure:"https://"},r={nonSecure:"127.0.0.1",secure:"gapdebug.local.genuitec.com"},n="https:"===window.location.protocol?"secure":"nonSecure";script=e.createElement("script"),script.type="text/javascript",script.async=!0,script.src=c[n]+r[n]+":"+t[n]+"/codelive-assets/bundle.js",e.getElementsByTagName("head")[0].appendChild(script)}(document),CODE_LIVE=!0);</script></head>

<body id="cas" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-37" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/casResetPasswordVerifyQuestionsView.html">
<div layout:fragment="content" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-37" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/casResetPasswordVerifyQuestionsView.html">
    <div>
        <h2 th:utext="#{screen.pm.reset.qstitle}"/>
        <p th:utext="#{screen.pm.reset.qsmsg(${username})}"/>
        <p/>
        <p/>
    </div>

    <form method="post" id="fm1" class="fm-v clearfix">
        <div class="row btn-row">
            <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
            <input type="hidden" name="_eventId" value="submit"/>
            <input type="hidden" name="username" th:value="${username}"/>
            <input type="hidden" name="token" th:value="${token}"/>
        </div>
        <div class="row fl-controls-left">

            <table width="100%" th:if="${questionsEnabled}">
                <tr th:each="q : ${questions}">
                    <td th:utext="${q}"></td>
                    <td>
                        <input type="password" class="required" th:name="${'q' + qStat.index}" size="45"/>
                    </td>
                </tr>
            </table>

            <div>
                <br/>
                <input class="btn btn-submit" accesskey="s"
                       th:value="#{screen.pm.button.submit}" tabindex="2" type="submit"/>
            </div>
        </div>

    </form>
</div>
</body>
</html>
