<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title>Surrogate Account Selection</title>
<script>"undefined"==typeof CODE_LIVE&&(!function(e){var t={nonSecure:"53786",secure:"54182"},c={nonSecure:"http://",secure:"https://"},r={nonSecure:"127.0.0.1",secure:"gapdebug.local.genuitec.com"},n="https:"===window.location.protocol?"secure":"nonSecure";script=e.createElement("script"),script.type="text/javascript",script.async=!0,script.src=c[n]+r[n]+":"+t[n]+"/codelive-assets/bundle.js",e.getElementsByTagName("head")[0].appendChild(script)}(document),CODE_LIVE=!0);</script></head>
<body id="cas" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-38" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/casSurrogateAuthnListView.html">
<div layout:fragment="content" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-38" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/casSurrogateAuthnListView.html">
    <div class="alert alert-info">
        <form method="post" id="loginForm" class="fm-v clearfix">
            <fieldset>
                <h2>Choose Account</h2>
                <div>
                    <p>You are provided with a list of accounts on behalf of which you are allowed to authenticate. </p>
                    <p>Select one and continue.</p>
                </div>
                <label for="surrogateTarget" class="fl-label">Account:</label>
                <select name="surrogateTarget" id="surrogateTarget">
                    <option th:each="surrogate: ${surrogates}" th:value="${surrogate}" th:text="${surrogate}"/>
                </select>
                <p/>
                <div>
                    <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                    <input type="hidden" name="_eventId" value="submit"/>
                    <input class="btn btn-primary btn-lg" name="submit" accesskey="l"
                           th:value="#{screen.welcome.button.login}" type="submit"/>
                    &nbsp;<a class="btn btn-success btn-lg" id="cancel" name="cancel"
                       th:href="@{/login}">Cancel</a>
                </div>
            </fieldset>
        </form>

    </div>
</div>
</body>
</html>
