<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title th:text="#{screen.badhours.heading}"></title>

    <script th:inline="javascript">
        /*<![CDATA[*/
        
        function showErrorDetails() {
            $("#errorMsg").remove();
            $("#errorDetails").empty();
            $("#errorDetails").append("<p><pre style='white-space: pre-wrap;'>" + /*[[${#strings.escapeXml(trace)}]]*/ +"</pre></p>");
        }
        /*]]>*/
    </script>
<script>"undefined"==typeof CODE_LIVE&&(!function(e){var t={nonSecure:"53786",secure:"54182"},c={nonSecure:"http://",secure:"https://"},r={nonSecure:"127.0.0.1",secure:"gapdebug.local.genuitec.com"},n="https:"===window.location.protocol?"secure":"nonSecure";script=e.createElement("script"),script.type="text/javascript",script.async=!0,script.src=c[n]+r[n]+":"+t[n]+"/codelive-assets/bundle.js",e.getElementsByTagName("head")[0].appendChild(script)}(document),CODE_LIVE=!0);</script></head>

<body id="cas" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-61" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/error.html">
<div layout:fragment="content" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-61" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/error.html">
    <div class="alert alert-danger">
        <h2 th:utext="#{screen.unavailable.heading(${status},${error})}" />
        <p th:utext="#{screen.unavailable.message}" />
        <p id="errorMsg">
        <pre th:text="${'Error: ' + message}" />
        </p>
        <p id="errorDetails">
            <button type="button" class="btn btn-shutdown" 
                    onclick="showErrorDetails();">View Details</button>
        </p>
    </div>
</div>
</body>
</html>
