/*

2016 | FAVA 
MahyarAlirezaei
 
*/
@font-face {font-family: 'Vazir';
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir.woff') format('woff'),
         url('../fonts/Vazir.ttf') format('truetype');
font-weight: normal;font-style: normal;}
::-webkit-input-placeholder {color: rgba(0,0,0,0.3);}
:-moz-placeholder {color: rgba(0,0,0,0.3);}
::-moz-placeholder {color: rgba(0,0,0,0.3);}
:-ms-input-placeholder {color: rgba(0,0,0,0.3);}
::-moz-selection {background-color: #a85d1a;color: #fff}
::selection {background-color: #a85d1a;color: #fff}
html {background: url(../images/bg.jpg) no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
body{font-family: 'Vazir';padding:0px;margin:0px}
a,a:active,a:visited{text-decoration: none}
div.wrapper{overflow: hidden;width:600px; height:auto; position:absolute;top:30%; left:50%;margin-left:-300px;  }
div.wrapper h1{ width:100%; margin:0px 0px 3px 0px; font-size:18px; color:#fff; text-align:center;}
div.Shadow{ width:200px; margin:0px auto; height:2px;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.68+0,0+100;White+to+Transparent */
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.68) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.68) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(255,255,255,0.68) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
div.wrapper div.Container{margin-top:10px;
background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 61%, rgba(0,0,0,0.05) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 61%,rgba(0,0,0,0.05) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 61%,rgba(0,0,0,0.05) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0d000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; padding:30px 0px 20px 0px ; }
input[type="text"], input[type="password"]{font-family: 'Vazir'; line-height:2;font-size:14px;border-bottom:1px solid rgba(255,255,255,0.3); border:0px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin:0px 0px 8px 0px; padding:7px 4px 2px 4px; width:87%; outline:none;color:#ce7321}
input[type="text"]:focus{background:rgba(255,255,255,0.5) url(../images/user-ico.png) no-repeat 490px 4px }
input[type="password"]:focus{background:rgba(255,255,255,0.5) url(../images/pass-ico.png) no-repeat 490px 4px }
input[type="text"]{background:rgba(255,255,255,0.3) url(../images/user-ico.png) no-repeat 490px 4px }
input[type="password"]{background:rgba(255,255,255,0.3) url(../images/pass-ico.png) no-repeat 490px 4px }
.clear{clear: both}
.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s}
.slider:before {position: absolute;content: "";height: 20px;width: 20px;left: 4px;bottom: 4px;background-color: white;-webkit-transition: .4s;transition: .4s;}
input:checked + .slider {background-color: #82b513;}
input:focus + .slider {box-shadow: 0 0 1px #82b513;}
input:checked + .slider:before {-webkit-transform: translateX(23px);-ms-transform: translateX(23px);transform: translateX(23px);}
/* Rounded sliders */
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}
.switch {position: relative;display: inline-block;width: 50px;height: 27px; float:right;margin: 0px 0px 0px 5px;}
.switch input {display:none;}
.BContainer{margin:0px auto; width:530px; padding:5px; overflow: hidden; direction:rtl; color:#666; line-height:26px; font-size:11px}
input[type="submit"]{; outline:none;margin:10px auto 0px auto; display:block; background:rgba(255,255,255,0.5); border:0px; padding:8px 10px; border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100;Green+Gloss */
background: rgb(191,210,85); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
 color:#fff; width:30%;font-family: 'Vazir';font-size:15px;-webkit-transition:all .4s ease;transition:all .4s ease}
 input[type="submit"]:hover{-webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
box-shadow: 0px 0px 5px 0px rgba(255,255,255,1); cursor:pointer; outline:none}
span.footer{font-size:10px; color:#a45b1a}
span.footer a{color:#925118}
.InputPin{width: 98.5% !important;direction: ltr; margin: 8px 0px 0px !important; display:none}
