<!DOCTYPE html>
<html lang="fa">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>CAS - Cnetra Authentication Service</title>
		<meta name="description" content="">
		<meta name="author" content="Mahyar">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/cas/css/MainStyle.css">
		<script type="text/javascript" src="/cas/js/jquery-3.1.0.min.js"></script>
	</head>

	<body>
		<div class="wrapper">
			<h1>سامانه مرکزی ورود کاربران</h1>
			<div class="Shadow"></div>
			<div class="clear"></div>
			<div class="Container">
			    <form method="post" id="fm1" th:object="${credential}">
			      <div class="alert alert-danger" style="text-align: center; margin-bottom: 10px;  color: red;"
			      		 th:if="${#fields.hasErrors('*')}">
            			<span th:each="err : ${#fields.errors('*')}" th:utext="${err}"/>
        		  </div>
			         <input type="hidden" name="_eventId" value="submit"/>
					<center>
<!-- 						<input type="text" required="required" placeholder="Username"> -->
 						<input class="required"
	                       id="username"
	                       size="25"
	                       tabindex="1"
	                       type="text"
	                       th:disabled="${guaEnabled}"
	                       th:field="*{username}"
	                       th:accesskey="#{screen.welcome.label.netid.accesskey}"
	                       autocomplete="off"/>
						<div class="clear"></div>
<!-- 						<input type="password" required="required" placeholder="Password"> -->
						<input class="required"
						                       type="password"
						                       id="password"
						                       size="25"
						                       tabindex="2"
						                       th:accesskey="#{screen.welcome.label.password.accesskey}"
						                       th:field="*{password}"
						                       autocomplete="off"/>
					</center>
					<div class="BContainer">
						<label class="switch">
							<input type="checkbox" id="PinCode">
							<div class="slider round"></div> </label>
	
						خواندن اطلاعات از کارت هوشمند
						<div class="clear"></div>
						<input type="password" class="InputPin" placeholder="Pin Code">
					</div>
					<div class="BContainer">
						<label class="switch">
							<input type="checkbox">
							<div class="slider round"></div> </label>
						فعال کردن هشدار قبل از ورود به سایت های دیگر
					</div>
					<div class="clear"></div>
					<input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
		       
		            <input type="hidden" name="geolocation"/>
					<input class="btn btn-submit btn-block"
	                   name="submit"
	                   accesskey="l"
	                   value ="ورود"
	                   tabindex="6"
	                   type="submit" />
				</form>
			</div>
			<span class="footer">&copy; 2016  All rights reserved |  Powered by : <a href="http://ict-cert.com" target="_blank">FAVA institute</a></span>
		</div>
	</body>
	<script>
		$('#PinCode').change(function() {
			$(".InputPin").slideToggle();
		});
	</script>
</html>




<!-- <div class="box" id="login">
    <div class="login-header">
        <h2 th:text="#{cas.login.pagetitle}"></h2>
        <span class="fa-stack fa-2x hidden-xs">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
        </span>
    </div>

    <form method="post" id="fm1" th:object="${credential}">

        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <span th:each="err : ${#fields.errors('*')}" th:utext="${err}"/>
        </div>

        <h2 th:utext="#{screen.welcome.instructions}"></h2>

        <section class="row">
            <label for="username" th:utext="#{screen.welcome.label.netid}"/>

            <div th:if="${openIdLocalId}">
                <strong>
                    <span th:utext="${openIdLocalId}"/>
                </strong>
                <input type="hidden"
                       id="username"
                       name="username"
                       th:value="${openIdLocalId}"/>
            </div>
            <div th:unless="${openIdLocalId}">
                <input class="required"
                       id="username"
                       size="25"
                       tabindex="1"
                       type="text"
                       th:disabled="${guaEnabled}"
                       th:field="*{username}"
                       th:accesskey="#{screen.welcome.label.netid.accesskey}"
                       autocomplete="off"/>
            </div>
        </section>

        <section class="row">
            <label for="password" th:utext="#{screen.welcome.label.password}"/>
            
            <div>
                <input class="required"
                       type="password"
                       id="password"
                       size="25"
                       tabindex="2"
                       th:accesskey="#{screen.welcome.label.password.accesskey}"
                       th:field="*{password}"
                       autocomplete="off"/>
                <span id="capslock-on" style="display:none;">
                    <p>
                        <i class="fa fa-exclamation-circle"></i>
                        <span th:utext="#{screen.capslock.on}"/>
                    </p>
                </span>
            </div>
        </section>
        <section class="row check">
            <p th:if="${rememberMeAuthenticationEnabled}">
                <input type="checkbox" name="rememberMe" id="rememberMe" value="true" tabindex="5"  />
                <label for="rememberMe" th:text="#{screen.rememberme.checkbox.title}"/>
            </p>
        </section>
        
        <section class="row" th:if="${recaptchaSiteKey}">
            <div class="g-recaptcha" th:attr="data-sitekey=${recaptchaSiteKey}"/>
        </section>

        <section class="row btn-row">
            <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
            <input type="hidden" name="_eventId" value="submit"/>
            <input type="hidden" name="geolocation"/>

            <input class="btn btn-submit btn-block"
                   name="submit"
                   accesskey="l"
                   th:value="#{screen.welcome.button.login}"
                   tabindex="6"
                   type="submit"/>
        </section>
    </form>

    
   
    <div th:unless="${passwordManagementEnabled}">
        <span class="fa fa-question-circle"></span>
        <span th:utext="#{screen.pm.button.forgotpwd}" />
        <p/>
    </div>
    
    <script type="text/javascript" th:inline="javascript">
        var i = [[#{screen.welcome.button.loginwip}]]
        $("#fm1").submit(function() {
            $(":submit").attr("disabled", true);
            $(":submit").attr("value", i);
            return true;
        });
    </script>
    <div th:replace="fragments/loginsidebar"/>
</div>
 -->
 
 
 
<!--  	<body> -->
<!-- 		<div class="wrapper"> -->
<!-- 			<h1>سامانه مرکزی ورود کاربران</h1> -->
<!-- 			<div class="Shadow"></div> -->
<!-- 			<div class="clear"></div> -->
<!-- 			<div class="Container"> -->
<!-- 				<center> -->
<!-- 					<input type="text" required="required" placeholder="Username"> -->
<!-- 					<div class="clear"></div> -->
<!-- 					<input type="password" required="required" placeholder="Password"> -->
<!-- 				</center> -->
<!-- 				<div class="BContainer"> -->
<!-- 					<label class="switch"> -->
<!-- 						<input type="checkbox" id="PinCode"> -->
<!-- 						<div class="slider round"></div> </label> -->

<!-- 					خواندن اطلاعات از کارت هوشمند -->
<!-- 					<div class="clear"></div> -->
<!-- 					<input type="password" class="InputPin" placeholder="Pin Code"> -->
<!-- 				</div> -->
<!-- 				<div class="BContainer"> -->
<!-- 					<label class="switch"> -->
<!-- 						<input type="checkbox"> -->
<!-- 						<div class="slider round"></div> </label> -->
<!-- 					فعال کردن هشدار قبل از ورود به سایت های دیگر -->
<!-- 				</div> -->
<!-- 				<div class="clear"></div> -->
<!-- 				<input type="submit" value="ورود"> -->
<!-- 			</div> -->
<!-- 			<span class="footer">&copy; 2016  All rights reserved |  Powered by : <a href="http://ict-cert.com" target="_blank">FAVA institute</a></span> -->
<!-- 		</div> -->
<!-- 	</body> -->