<script src="/cas/js/head.min.js" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-47" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/fragments/bottom.html"></script>
<script type="text/javascript" th:src="@{${#themes.code('cas.javascript.file')}}"></script>



