<div class="well well-lg hidden-xs" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-50" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/fragments/cas-resources-list.html">
    <h3 th:text="#{cas.login.resources.header}">:</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="status/dashboard" th:inline="text">
                <i class="fa fa-cogs"></i> [[#{cas.login.resources.dashboard}]]
            </a>
        </li>
        <li class="list-group-item">
            <a href="http://apereo.github.io/cas" th:inline="text">
                <i class="fa fa-file"></i> [[#{cas.login.resources.wiki}]]
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://github.com/apereo/cas/issues" th:inline="text">
                <i class="fa fa-bug"></i> [[#{cas.login.resources.issuetracker}]]
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://apereo.github.io/cas/Mailing-Lists.html" th:inline="text">
                <i class="fa fa-envelope"></i> [[#{cas.login.resources.mailinglist}]]
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://gitter.im/apereo/cas" th:inline="text">
                <i class="fa fa-commenting-o"></i> [[#{cas.login.resources.chat}]]
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://apereo.github.io/" th:inline="text">
                <i class="fa fa-rss"></i> [[#{cas.login.resources.blog}]]
            </a>
        </li>


    </ul>
</div>
