<div id="cookiesDisabled" class="alert alert-info" style="display:none;" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-51" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/fragments/cookies.html">
    <h2 th:utext="#{screen.cookies.disabled.title}"></h2>
    <p th:utext="#{screen.cookies.disabled.message}"></p>
</div>
