<div id="msg" class="errors alert alert-info" th:if="${staticAuthentication}" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-56" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/fragments/defaultauthn.html">
    <h2 th:utext="#{screen.defaultauthn.title}"></h2>
    <p th:utext="#{screen.defaultauthn.heading}"></p>
</div>
