<div data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-53" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/fragments/footerButtons.html">
    <p/>
    <a class="btn btn-success" th:href="@{/status/dashboard}" th:text="#{cas.dashboard.section.dashboard.title}" />
    <a class="btn btn-success" onclick="location.reload();" th:text="#{cas.ssosessions.button.refresh}" />
</div>
