<footer data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-52" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/fragments/footer.html">
    <div id="copyright" class="container">
        <p th:utext="#{copyright}"></p>
        <p>Powered by <a href="http://www.apereo.org/cas">
            Apereo Central Authentication Service
            <span th:text="${T(org.apereo.cas.util.CasVersion).getVersion()}"></span>
            <span th:text="${T(org.apereo.cas.util.CasVersion).getDateTime()}"></span> </a>
        </p>
    </div>
</footer>
