<head data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-42" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/fragments/head.html">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title th:insert="::title">CAS - Central Authentication Service</title>

    <link rel="stylesheet" th:href="@{${#themes.code('standard.custom.css.file')}}" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>

    <script th:inline="javascript">
        /*<![CDATA[*/
        
        var trackGeoLocation = /*[[${trackGeoLocation}]]*/ === "true";
        
        /*]]>*/
    </script>
<script>"undefined"==typeof CODE_LIVE&&(!function(e){var t={nonSecure:"53786",secure:"54182"},c={nonSecure:"http://",secure:"https://"},r={nonSecure:"127.0.0.1",secure:"gapdebug.local.genuitec.com"},n="https:"===window.location.protocol?"secure":"nonSecure";script=e.createElement("script"),script.type="text/javascript",script.async=!0,script.src=c[n]+r[n]+":"+t[n]+"/codelive-assets/bundle.js",e.getElementsByTagName("head")[0].appendChild(script)}(document),CODE_LIVE=!0);</script></head>
