<div id="msg" class="errors alert alert-info" th:if="${not #httpServletRequest.secure}" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-57" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/fragments/insecure.html">
    <h2 th:utext="#{screen.nonsecure.title}"></h2>
    <p th:utext="#{screen.nonsecure.message}"></p>
</div>
