<div id="sidebar" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-49" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/fragments/loginsidebar.html">
    <div class="sidebar-content">
        <p th:utext="#{screen.welcome.security}"/>
    </div>
</div>

