<header data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-43" data-genuitec-path="/cas-overlay-template-master/target/m2e-wtp/overlays/cas-server-webapp-5.1.6.war/WEB-INF/classes/templates/fragments/logo.html">
    <a id="logo" href="http://www.apereo.org" th:title="#{logo.title}">Apereo</a>
    <h1>Apereo Central Authentication Service (CAS)</h1>
</header>
